@charset "UTF-8";
/* ーーーーーーーーーーーーーーーーーーーーーーーーヘッダーーーーーーーーーーーーーーーーーーーーーーーーー */
.logo {
	width: 50px;
	margin-top: 14px;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: rgb(122, 201, 253);
}

.page-header {
	display: flex;
	justify-content: space-between;
}

.main-nav {
	display: flex;
	list-style: none;
	font-size: 1rem;
	text-transform: uppercase;
	margin-top: 40px;
}

 .main-nav li {
	margin-left: 20px;
	padding-right: 20px;
} 

.main-nav a {
	text-decoration: none;
	padding-left: 20px;
}

/* ーーーーーーーーーーーーーーーーーーーーーーーーフッターーーーーーーーーーーーーーーーーーーーーーーー */
footer {
	background-color: gray;
	padding: 30px;
	margin: 0;
}

.footer-bar {
	list-style: none;
	display: flex;
}

.footer-bar li {
	padding-left: 30px;
}

.footer-bar a {
	text-decoration: none;
	color: white;
}