<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>職業診断</title>
<link th:href="@{/css/all.css}" rel="stylesheet">
<link th:href="@{/css/home.css}" rel="stylesheet">
</head>
<body>
	<!-- ヘッダーのフラグメントを挿入 -->
	<div th:include="header :: header_part"></div>
	<div class="choose">
		<p>Q1</p>
		<div class="choose-question">
			<h1>単調な作業を続けても苦にならない</h1>
		</div>

		<form th:action="@{/choose6}" method="post" class="choose-question-answer">
			<input type="hidden" name="sheet-point1" th:value="${sp1}"> 
			<input type="hidden" name="sheet-point2" th:value="${sp2}"> 
			<input type="hidden" name="sheet-point3" th:value="${sp3}"> 
			<input type="hidden" name="sheet-point4" th:value="${sp4}"> 
			<input type="radio" name="answer5-1" value=1> <label>はい</label> 
			<input type="radio" name="answer5-1" value=0> <label>いいえ</label>

			<p>Q2</p>
			<div class="choose-question">
				<h1>動物・植物の世話をするのが好き</h1>
			</div>
			<input type="radio" name="answer5-2" value=1> <label>はい</label>
			<input type="radio" name="answer5-2" value=0> <label>いいえ</label>


			<p>Q3</p>
			<div class="choose-question">
				<h1>体力にはけっこう自信がある</h1>
			</div>
			<input type="radio" name="answer5-3" value=1> <label>はい</label>
			<input type="radio" name="answer5-3" value=0> <label>いいえ</label>


			<p>Q4</p>
			<div class="choose-question">
				<h1>機械・PCの操作が得意</h1>
			</div>
			<input type="radio" name="answer5-4" value=1> <label>はい</label>
			<input type="radio" name="answer5-4" value=0> <label>いいえ</label>


			<p>Q5</p>
			<div class="choose-question">
				<h1>指示された通りに作業する方が好き</h1>
			</div>
			<input type="radio" name="answer5-5" value=1> <label>はい</label>
			<input type="radio" name="answer5-5" value=0> <label>いいえ</label>


			<p>Q6</p>
			<div class="choose-question">
				<h1>一人の長距離ドライブは楽しい！</h1>
			</div>
			<input type="radio" name="answer5-6" value=1> <label>はい</label>
			<input type="radio" name="answer5-6" value=0> <label>いいえ</label>



			<p>Q7</p>
			<div class="choose-question">
				<h1>趣味はモノづくり</h1>
			</div>
			<input type="radio" name="answer5-7" value=1> <label>はい</label>
			<input type="radio" name="answer5-7" value=0> <label>いいえ</label>

			<p>間違いがなければ送信ボタンを押して次の質問へ！</p>
			<input type="submit" value="送信">

		</form>




	</div>
	<!-- フッターのフラグメントを挿入 -->
	<div th:include="header :: footer_part">
</body>
</html>