<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>職業診断</title>
<link th:href="@{/css/all.css}" rel="stylesheet">
<link th:href="@{/css/home.css}" rel="stylesheet">
</head>
<body>
	<!-- ヘッダーのフラグメントを挿入 -->
	<div th:include="header :: header_part"></div>
	<div class="choose">
		<p>Q1</p>
		<div class="choose-question">
			<h1>グループ中ではなぜかリーダーになってしまう</h1>
		</div>

		<form th:action="@{/choose3}" method="post" class="choose-question-answer">
			<input type="hidden" name="sheet-point1" th:value="${sp1}"> 
			<input type="radio" name="answer2-1" value=1> <label>はい</label>
			<input type="radio" name="answer2-1" value=0> <label>いいえ</label>

			<p>Q2</p>
			<div class="choose-question">
				<h1>人や社会人に対して影響力を持ちたい</h1>
			</div>
			<input type="radio" name="answer2-2" value=1> <label>はい</label>
			<input type="radio" name="answer2-2" value=0> <label>いいえ</label>


			<p>Q3</p>
			<div class="choose-question">
				<h1>実は政治家に興味があるかも</h1>
			</div>
			<input type="radio" name="answer2-3" value=1> <label>はい</label>
			<input type="radio" name="answer2-3" value=0> <label>いいえ</label>


			<p>Q4</p>
			<div class="choose-question">
				<h1>どうすれば組織・グループの利益になるか考えている</h1>
			</div>
			<input type="radio" name="answer2-4" value=1> <label>はい</label>
			<input type="radio" name="answer2-4" value=0> <label>いいえ</label>


			<p>Q5</p>
			<div class="choose-question">
				<h1>いつかは企業したい、または会社のトップになりたい</h1>
			</div>
			<input type="radio" name="answer2-5" value=1> <label>はい</label>
			<input type="radio" name="answer2-5" value=0> <label>いいえ</label>


			<p>Q6</p>
			<div class="choose-question">
				<h1>新規事業やプロジェクトの企画に興味がある</h1>
			</div>
			<input type="radio" name="answer2-6" value=1> <label>はい</label>
			<input type="radio" name="answer2-6" value=0> <label>いいえ</label>



			<p>Q7</p>
			<div class="choose-question">
				<h1>人と競争するとつい燃えてしまう</h1>
			</div>
			<input type="radio" name="answer2-7" value=1> <label>はい</label>
			<input type="radio" name="answer2-7" value=0> <label>いいえ</label>

			<p>間違いがなければ送信ボタンを押して次の質問へ！</p>
			<input type="submit" value="送信">

		</form>




	</div>
	<!-- フッターのフラグメントを挿入 -->
	<div th:include="header :: footer_part">
</body>
</html>