<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>顧客情報</title>
<link th:href="@{/css/all.css}" rel="stylesheet">
<link th:href="@{/css/home.css}" rel="stylesheet">
</head>
<body>
	<!-- ------------------------変更前コード------------------------ -->




	<h1>登録者リスト</h1>
	<table>
		<tr>
			<th>登録者番号</th>
			<th>名前</th>
			<th>メールアドレス</th>
			<th>パスワード</th>
		</tr>
		<tr th:each="c : ${customers}">
			<td th:text="${c.id}"></td>
			<td th:text="${c.name}"></td>
			<td th:text="${c.mail}"></td>
			<td>見せられないよ</td>
		</tr>
	</table>
	<!-- ------------------------変更前コードここまで------------------------ -->

<!-- ----------------ログイン画面の追加---------------- -->
<h2>こんにちは</h2>
<div th:fragment="logout" sec:authorize="isAuthenticated()">
    <p>こんにちは:
        <span sec:authentication="name"></span>さん</p>
    <p>mail:
        <span sec:authentication="principal.mailAddress"></span></p>
    <p>権限:
        <span sec:authentication="principal.authorities"></span></p>
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="ログアウト" />
    </form>
</div>

<!-- ----------------ログイン画面の追加ここまで---------------- -->







</body>
</html>