<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>ユーザーメモ</title>
<link th:href="@{/css/all.css}" rel="stylesheet">
<link th:href="@{/css/home.css}" rel="stylesheet">
</head>
<body>
	<!-- ------------------------変更前コード------------------------ -->




	<h1>ユーザーメモ</h1>
	
	<h2>メモを残しておこう</h2>
	<form th:action="@{/memory}" method="post">
	<input type="text" name="content" />
	<button type="submit">保存</button>
	</form>
	<table>
		<tr>
			<th>ID</th><th>記録者</th><th>コメント（メモ）</th>
		</tr>
		<tr th:each="content: ${contentList}">
			<td th:text="${content.id}"></td>
			<td th:text="${content.user}"></td>
			<td th:text="${content.content}"></td>
			<td>
			<form method="post" th:action="@{/delete}">
			<input type="hidden" name="contentD" th:value="${content.id}">
			<input type="submit" value="Delete">
			</form>
			</td>
		</tr>
	</table>


</body>
</html>