<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/user.css">
	<title>転職率アップ方</title>
	<link th:href="@{/css/all.css}" rel="stylesheet">
	<link th:href="@{/css/home.css}" rel="stylesheet">
	<link th:href="@{/css/user.css}" rel="stylesheet">

</head>
<body>
	<!-- ヘッダーのフラグメントを挿入 -->
	<div th:include="header :: header_part"></div>

	<div class="user_title">
		<img src="https://tenshoku.mynavi.jp/sites/all/knowhow/common/images/ktop_ttl_s.png" alt="転職ノウハウ">
		<p>応募企業の探し方や履歴書の書き方、面接のポイントから円満退職の秘けつまで。
		あなたの転職を成功に導くためのノウハウを紹介！</p>
	</div>
	<div class="user_title_image">
		<img src="https://tenshoku.mynavi.jp/sites/all/knowhow/rirekisho/images/h2_img.jpg" alt="">
		<p>履歴書の書き方に不安や疑問をお持ちの方必見！<br>
			履歴書を書く前の心構えから、学歴・職歴や志望動機の書き方、採用担当者が見ているポイントまでを網羅。<br>
			履歴書を作成するうえで必要なポイントを押さえて書類選考を突破しましょう。<br>
			手書き、パソコン作成（Word、Excel）どちらでも使える履歴書フォーマットのダウンロードもできます。</p>
	</div>
	<div class="sheet">
		<h1>履歴書の書き方見本（全体）</h1>
		<h3>履歴書全体で、文字の開始位置や余白を揃えると綺麗に見えます。</h3>
		<img src="https://tenshoku.mynavi.jp/sites/all/knowhow/rirekisho/images/index_photo.jpg" alt="履歴書作成例">
	</div>
	<div class="user_point">
		<h2>採用担当者はココを見てる！　注意ポイント</h2>
		<p>手書きの履歴書と指定がなければ、パソコンで作成しても構いませんが、手書きの履歴書から人物像をイメージする採用担当者もいます。パソコンを使用する場合は、履歴書フォーマット・テンプレートをインターネットでダウンロードして作成すると良いでしょう。オリジナルの履歴書を作成する場合、市販のものと内容が異なると、書きたくない項目を削除していると考える採用担当者もいるので注意が必要です。</p>
	</div>

	<div class="maind">
		<h1 class="maind_title">履歴書を描き始める前の心構え</h1>
		<section class="title">
			<h3><img src="https://tenshoku.mynavi.jp/sites/all/knowhow/rirekisho/images/icon06.png" alt="icon">時間に余裕を持って作成する</h3>
			<p>丁寧に心を込めて書かれた履歴書は、第一印象をアップします。急いで書いた履歴書は記入ミスも多くなるので、提出前ギリギリではなく時間に余裕をもって作成しましょう。
			</p>
		</section>
		<section class="title">
			<h3><img src="https://tenshoku.mynavi.jp/sites/all/knowhow/rirekisho/images/icon06.png" alt="icon">応募企業に向けた履歴書にする</h3>
			<p>採用担当者が魅力的だと感じる履歴書にするためには、応募企業が求めている人材を理解し、そこで生かせる職務経歴を強調する必要があります。志望動機も応募企業向けの具体的な内容になるよう意識しましょう。
			</p>
		</section>
		<section class="title">
			<h3><img src="https://tenshoku.mynavi.jp/sites/all/knowhow/rirekisho/images/icon06.png" alt="icon">自分に合った市販の履歴書・フォーマット（テンプレート）を選ぶ</h3>
			<p>市販の履歴書や、ダウンロードできるフォーマットにはサイズや記入スペースが異なったさまざまな種類があります。

				企業側からの指定がない場合は、A4・B5どちらかでなければいけない決まりはありません。ですので、市販のものを購入する際は、「自分をアピールしやすい項目の履歴書」かどうかを確認することをおすすめします。
				
				例えば、職務経歴の項目が大きくとってあると、就業経験のない方や経験が浅い方の場合は空白が目立ってしまいますので、志望動機や自己PRの欄などが大きいものや、企業が求めている資格を持っている場合は資格欄の大きいものを選ぶなどです。
				
				自分の経歴やアピールする内容に沿った市販の履歴書や、フォーマット（テンプレート）をダウンロードするようにしましょう。
				</p>
		</section>
		<section class="title">
			<h3><img src="https://tenshoku.mynavi.jp/sites/all/knowhow/rirekisho/images/icon06.png" alt="icon">必ず見直しをする</h3>
			<p>履歴書の記入にミスがあると、採用担当者に「仕事でもミスをしそう」という印象を与えてしまいます。最後に必ずすべての項目を見直しましょう。</p>
		</section>

	</div>
	<div class="ng">
		<h1 class="ng_title">要注意！　履歴書作成でのNGルール</h1>
		<section class="title">
			<h3><img src="https://tenshoku.mynavi.jp/sites/all/knowhow/rirekisho/images/icon08.png" alt="ng_icon"> 鉛筆・シャープペンシル、消せるボールペン、修正液の使用はNG</h3>
			<p>履歴書の記入には、鉛筆やシャープペンシル、消せるボールペンの使用はNGです。黒色のペンかボールペンを使用します。また、インクかすれやにじみにも注意しましょう。書き間違えた場合、面倒でも最初から書き直しましょう。書き間違いを減らすには、あらかじめ各内容を整理した「見本の履歴書」を作成し、それを見ながら書くのがオススメです。

			</p>
		</section>
		<section class="title">
			<h3><img src="https://tenshoku.mynavi.jp/sites/all/knowhow/rirekisho/images/icon08.png" alt="ng_icon">誤字・脱字・略字はNG</h3>
			<p>誤字・脱字はNGです。たくさんの履歴書を見ている採用担当者は、小さな誤字・脱字でもすぐにきづきます。日ごろの癖で使ってしまう略字にも注意しましょう。

			</p>
		</section>
		<section class="title">
			<h3><img src="https://tenshoku.mynavi.jp/sites/all/knowhow/rirekisho/images/icon08.png" alt="ng_icon">空欄はNG</h3>
			<p>空欄なく記入された履歴書は、採用担当者に誠意と意気込みを伝えます。資格や賞罰など書く事がない場合には、「空欄＝記入漏れ」と認識されることを防ぐため、「特になし」と記入しましょう。

				</p>
		</section>
		<section class="title">
			<h3><img src="https://tenshoku.mynavi.jp/sites/all/knowhow/rirekisho/images/icon08.png" alt="ng_icon">古い履歴書の使いまわしはNG</h3>
			<p>返送された履歴書をほかの企業に使いまわすのはNGです。日付が古いままになっている履歴書は印象が良くありません。面倒でも新しい履歴書作成しましょう。
			</p>
		</section>
	</div>

	 <div class="end">
		<h3>履歴書フォーマットダウンロード   <span>無料</span></h3>
		<p>手書き用（PDF）・パソコン用（Word、Excel）それぞれの履歴書フォーマットが無料でダウンロードできます。市販の履歴書をお持ちでない場合、ご自身に合ったフォーマットをダウンロード＆印刷してご活用ください。</p>
	
	<div class="download">
		<ul>
			<li><a href="https://tenshoku.mynavi.jp/sites/all/knowhow/rirekisho/download/format01.pdf">手書き用フォーマット（PDF）のダウンロードはこちら</a> </li>
			<li><a href="https://tenshoku.mynavi.jp/sites/all/knowhow/rirekisho/download/format03.doc">パソコン用フォーマット（Word）のダウンロードはこちら</a></li>
			<li><a href="https://tenshoku.mynavi.jp/sites/all/knowhow/rirekisho/download/format02.xls">パソコン用フォーマット（Excel）のダウンロードはこちら</a></li>
		</ul>
	</div>
</div>

				<!-- フッターのフラグメントを挿入 -->
	<div th:include="header :: footer_part">
	</body>
</html>