<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>職業ビデオ一覧</title>
<link th:href="@{/css/all.css}" rel="stylesheet">
<link th:href="@{/css/home.css}" rel="stylesheet">
</head>
<body>
	<!-- ヘッダーのフラグメントを挿入 -->
	<div th:include="header :: header_part"></div>
	
	<h1 th:text="${maxsp}"></h1>
	
	
	<div class="video" wrapper>
		<div class="box1">
			<section>
				<h1>1</h1>
				<iframe th:if="${helper}" width="600" height="300"
					src="https://www.youtube.com/embed/kFwgDfmAink" frameborder="0"
					allow="accelerometer;
			autoplay;
			encrypted-media; gyroscope; 
			picture-in-picture"
					allowfullscreen="allowfullscreen"> </iframe>
			</section>
			<aside>
				<h3>人気の転職サイトはこちら</h3>
				<ul>
					<li><a href="https://tenshoku.mynavi.jp/">マイナビ転職</a></li>
					<li><a
						href="https://doda.jp/?usrclk=PC_logout_commonHeader_logo">doda</a></li>
					<li><a
						href="https://www.bizreach.jp/lp/bizreach-08/pc/?trcd=0NMAF0000050_PC_&utm_source=nmaf&utm_medium=alliance&utm_campaign=nmaf">ビズリーチ</a></li>
				</ul>
			</aside>
		</div>
		<section>
			<h1>2</h1>
			<iframe th:if="${instructor}" width="600" height="300"
				src="https://www.youtube.com/embed/NMB9nbtJuk8" frameborder="0"
				allow="accelerometer;
			autoplay;
			encrypted-media; gyroscope; 
			picture-in-picture"
				allowfullscreen="allowfullscreen"> </iframe>
		</section>

		<section>
			<h1>3</h1>
			<iframe th:if="${counselor}" width="600" height="300"
				src="https://www.youtube.com/eUOXSfEg8t8" frameborder="0"
				allow="accelerometer;
			autoplay;
			encrypted-media; gyroscope; 
			picture-in-picture"
				allowfullscreen="allowfullscreen"> </iframe>
		</section>


	</div>
	<div class="sankou">
		<h2>参考になりましたか？</h2>
		<form action="/point" method="post">
			<label><input type="radio" name="point" value="1">はい</label>
			<label><input type="radio" name="point" value="0">いいえ</label>
			<p>ご協力ありがとうございます！</p>
			<input type="submit" value="送信">
		</form>
	</div>

	<div class="registration">
		<h2>会員登録で転職で必須となるスキルを身につけよう！！</h2>
		<p>登録後は転職時に有利になれるスキルや知識を見ることができます。</p>


		<!-- -------------------Validation追加前のコード------------------- -->



		<!-- <form action="#" th:action="@{/}" th:object="${userData}"
			method="post">
			<table>
				<tr>
					<td>Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
					<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
						Error</td>
				</tr>
				<tr>
					<td>E-mail</td>
					<td><input type="text" th:field="*{mail}" /></td>
					<td th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">E-mail
						Error</td>
				</tr>
				<tr>
				<tr>
					<td>Password</td>
					<td><input type="text" th:field="*{pass}" /></td>
					<td th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}">Pass
						Error</td>
				</tr>
				<tr>
					<td><button type="submit">Submit</button></td>
				</tr>
			</table>
		</form> -->

<!-- ---------------セキュリティー追加ーーーーーーーーーー -->



<form action="#" th:action="@{/}" th:object="${userData}"
			method="post">
			<table>
				<tr>
					<td>Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
					<td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name
						Error</td>
				</tr>
				<tr>
					<td>E-mail</td>
					<td><input type="text" th:field="*{mail}" /></td>
					<td th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">E-mail
						Error</td>
				</tr>
				<tr>
				<tr>
					<td>Password</td>
					<td><input type="text" th:field="*{pass}" /></td>
					<td th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}">Pass
						Error</td>
				</tr>
				<tr>
					<td><button type="submit">Submit</button></td>
				</tr>
			</table>
		</form>







<!-- ---------------セキュリティー追加ここまでーーーーーーーーーー -->

		<!-- フッターのフラグメントを挿入 -->
		<div th:include="header :: footer_part">
</body>
</html>